

body {
  background-color: blue; /* remove gray box */
  padding: 2px;
  max-width: none;
  margin: 2px;

}

.chores-container {
  background-color: blue; /* remove gray box */
  padding: 2px;
  max-width: none;
  margin: 2px;

}

